* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #C6F6D5;
  /* changes notch area color */
}

body, main {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100vw;
  color: ghostwhite;

}

body{
  height: 100vh;
}

main {
  height: 100%;
}
